@using Mandarin.Data.Models;
@using Microsoft.AspNetCore.Identity;

@inject UserManager<ApplicationUser> UserManager;
@model (Chat, Message)

@{
    ViewData["Title"] = "Details";
    TempData["ChatId"] = Model.Item1.Id;
    
    string align = string.Empty;
    string username = UserManager.GetUserName(User);
}

<hr />
<div style="display:flex;gap:20px;align-items:center;justify-content:center">
    <img class="product-img" src="@Model.Item1.Product.Image" onclick="imgClick(@Model.Item1.ProductId)">
    <div>
        <h3>@Model.Item1.Product.Name</h3>
        <h4>@Model.Item1.Product.Category.Name</h4>
    </div>
</div>

<div>
    @foreach (var message in Model.Item1.Messages) 
    {
        <span style="display:none">@(align = username == message.To ? "left" : "right")</span>
        <dl class="row msg-@align">
            <dd class="col-sm-6 message" align="@align">
                <p>@message.Text</p>
                <h6>@message.Date.ToString("g")</h6>
            </dd>
        </dl>
    }
</div>

<partial name="_AddMessageView" model="@Model.Item2" />
